body{
  background-color: rgb(230, 230, 230);
}


.image{
  height:100px;
  background-image:url('../../../images/worker_cpanel/PDSB.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}



.intake_title {
  text-align: center;
  margin: auto;
  font-family: "Arial", sans-serif; 
  color: rgb(0, 102, 153); 
  font-weight: bold;
  padding: 10px;
}



.subtitle{
  position: relative; 
  left: 50px;
  font-size: 30px;
  width: 70%;
  padding:0;
  height:60px;
  margin: 0px; 
  font-family: "Arial", sans-serif;
  text-decoration: underline;
  text-decoration-color: #800000; 
  color: rgb(0, 102, 153);
}


.information{
  position: relative; 
  font-size: 20px;
}


.description{
  vertical-align: sub;
  height:110px;
  width: 200px;
  resize:none;
  display: inline-block;
  font-weight: 300;
  padding-left: 0.8rem;
}


.table{
  position: relative; 
  font-size: 25px;
  left: 50px; 
  text-align:center;
}





/*headings for each section*/
.description_title{
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}


/*value for each section*/
.description_value{
  padding: 4px 8px;
}

/*text area for the description*/
.description_comment{
  margin: 4px 20px 10px 20px
}

/*error messages*/
.error_message{
  color: rgb(255, 71, 26);
  padding: 4px 20px;
}


/*information describing the form*/
.information_text{
  padding: 10px 20px;
}



/*description paragraph*/
.description_para{
  font-size: 14px;
}


/*back button*/
 .back{
  background-color: rgb(255,255,255);
  color: rgb(153, 0, 0);
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid rgb(170, 18, 18);
  border-radius: 20px;
  margin: 15px;

  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -ms-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}


/*hovering over the back button*/
.back:hover{
  background-color:rgb(255, 51, 0);
  border-color: rgb(204, 0, 0);
  color: rgb(255,255,255);
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;

  -ms-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}


/*left alignment for the back button*/
.back_align{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
}


 /*submit button to change the the values*/
 .submit{
  background-color: rgb(255,255,255);
  color: rgb(72, 72, 72);
  padding: 8px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 3px solid rgb(72, 72, 72);
  border-radius: 10px;
  font-size:16px;
  margin-top: 40px;
  margin: 15px;
  transition: background-color 0.5s ease, border-color 0.5s ease;

  -ms-transition: background-color 0.5s ease, border-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease;
}

/*hovering over the change input button*/
.submit:hover{
  background-color:rgb(77, 210, 255);
  border-color: rgb(77, 210, 255);
  box-shadow: 0px 0px 3px 3px rgb(102,255,255);
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease;

  -ms-transition: background-color 0.5s ease, border-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease;
}


/*alignment for the buttons*/
.button_align{
  text-align:center;
}



/*the text input for the forms*/
.form_control{
  border-radius: 5px;
  color: rgb(0, 51, 102);
  background-color: rgb(255,255,255);
  padding: 3px 10px;
  border: 1px solid rgb(0, 51, 102)
}

/*focusing on the text input form*/
.form_control:focus{
  background-color:rgb(128, 223, 255);
  border-color: rgb(0, 51, 102);
  box-shadow:0px 0px 3px 2px rgb(204,255,255);
  color: rgb(0, 51, 102);
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;

  -ms-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}
