body{
  background-color:#e6e6e6;
}

.Title{
  text-decoration: underline #cc0000;
  display:inline-block;
  width:100%;
  text-align: center;
  padding-top:150px;
  padding-bottom:100px;
}

.button{
  background-color: #008CBA;/* blue */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 5px solid black;
}

.back{
  background-color: rgb(170, 18, 18);/* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 5px solid black;
}

.space{
  padding-bottom:50px;
  padding-top:100px;
  padding-right:100px;
}

.spacep{
  padding-top:34px;
  padding-right:100px;
}

.spaceA{
  padding-bottom:10px;
}

.box{
  width: 1000px;
  height: 400px;
  border: 10px solid black;
  background-color: rgb(100, 211, 252);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


.rule_list{
    margin-left: 20px;
    padding-left: 0;
}








/*headings for each section*/
.description_title{
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}


/*value for each section*/
.description_value{
  padding: 4px 8px;
}

/*text area for the description*/
.description_comment{
  margin: 4px 20px 10px 20px
}

/*error messages*/
.error_message{
  color: rgb(255, 71, 26);
  padding: 4px 20px;
}


/*information describing the form*/
.information_text{
  padding: 10px 20px;
}
