body{
  background-color:#e6e6e6;
}

.Title{
  text-decoration: underline;
  display:inline-block;
  width:100%;
  text-align: center;
  padding:100px 0 80px 0;
  color: rgb(0, 102, 153);
  font-size:35px;
}



.space{
  padding-bottom:50px;
  padding-top:100px;
  padding-right:100px;
}

.spacep{
  padding-top:34px;
  padding-right:100px;
}

.spaceA{
  padding-bottom:10px;
}

.box{
  width: 1000px;
  height: 400px;
  border: 5px solid rgb(0, 51, 102);
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px 20px;
}


.rule_list{
    margin-left: 20px;
    padding-left: 0;
}








/*headings for each section*/
.description_title{
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}


/*value for each section*/
.description_value{
  padding: 4px 8px;
}

/*text area for the description*/
.description_comment{
  margin: 4px 20px 10px 20px
}

/*error messages*/
.error_message{
  color: rgb(255, 71, 26);
  padding: 4px 20px;
}


/*information describing the form*/
.information_text{
  padding: 10px 20px;
}





/*back button*/
 .back{
  background-color: rgb(255,255,255);
  color: rgb(153, 0, 0);
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid rgb(170, 18, 18);
  border-radius: 20px;
  margin: 15px;

  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -ms-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}


/*hovering over the back button*/
.back:hover{
  background-color:rgb(255, 51, 0);
  border-color: rgb(204, 0, 0);
  color: rgb(255,255,255);
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;

  -ms-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}


/*left alignment for the back button*/
.back_align{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
}


 /*submit button to change the the values*/
 .submit{
  background-color: rgb(255,255,255);
  color: rgb(72, 72, 72);
  padding: 8px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 3px solid rgb(72, 72, 72);
  border-radius: 10px;
  font-size:16px;
  margin-top: 40px;
  margin: 35px 15px 15px 15px;
  transition: background-color 0.5s ease, border-color 0.5s ease;

  -ms-transition: background-color 0.5s ease, border-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease;
}

/*hovering over the change input button*/
.submit:hover{
  background-color:rgb(77, 210, 255);
  border-color: rgb(77, 210, 255);
  box-shadow: 0px 0px 3px 3px rgb(102,255,255);
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease;

  -ms-transition: background-color 0.5s ease, border-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease;
}


/*alignment for the buttons*/
.button_align{
  text-align:center;
}



/*the text input for the forms*/
.form_control{
  border-radius: 5px;
  color: rgb(0, 51, 102);
  background-color: rgb(255,255,255);
  padding: 3px 10px;
  border: 1px solid rgb(0, 51, 102)
}

/*focusing on the text input form*/
.form_control:focus{
  background-color:rgb(128, 223, 255);
  border-color: rgb(0, 51, 102);
  box-shadow:0px 0px 3px 2px rgb(204,255,255);
  color: rgb(0, 51, 102);
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;

  -ms-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}
