.Change_Customer_Profile{
 text-decoration: underline;
 
 /* transform: translate(-210px,-80px);*/
 display:inline-block;
 width:100%;
 text-align: center;
padding-top:150px;
padding-bottom:100px;
 
}
.background{

  /* The Background Image */
  background-image:url("http://www.lowestrates.ca/sites/default/files/AdobeStock_97876318.jpeg");

  /* Height of Image */
  height: 100%;

  /* Setting The location Of The Image */
  background-position: center;
  background-size: cover;
 margin-top: 150px;

 }
 .box{
  width: 400px;
  height: 100%;
  background-color: rgb(100, 211, 252);
  border: 5px solid White;
margin-left: auto;
 margin-right: auto;
 margin-top: 50px;

 }
 .back{
background-color: rgb(170, 18, 18);/* Green */
  //border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
border: 5px solid black;
margin-left:92%;
}
 .change{
background-color: #008CBA;/* blue */
  //border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
border: 5px solid black;
}
.move1{
   margin-right:13px;
 }
 .move2{
   margin-right:27px;
 }
 .move3{
   margin-right:35px;
 }
 .move4{
   margin-right:45px;
 }
 .move5{
   margin-right:55px;
 }