.footer{

  background-color: 	rgb(255, 128, 0);
  padding: 60px 40px 140px 40px;
  z-index:2;
  position:relative;
  

}


.footer_items p {

  color: white;

  font-size: 12px;

}


.about{
  margin-left:34%
}


.memeber{
  float:left;
}




.photo{
  width: 75px;
  height: 75px;
  background-color:rgb(255, 255, 0);
  border-radius:100%;
  margin:auto;
  margin:0 2.5em;
  background-color:rgb(255, 255, 0);
}




.name{
  text-align:center;
  font-size:15px;
  font-weight:bold;
}

.conclusion{
  height:50px;
  background-color:	rgb(255, 255, 0);
}

.conclusion{
  text-align:center;
  color: rgb(255, 128, 0);
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
}



.conclusion_info{
  line-height:50px;
}

